<a href="https://colab.research.google.com/github/sankets139/AI_Engineering/blob/master/Python_Class_May_26_28_29_June_02_05_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ipymb - interactive python notebook

file extension **py** OR **ipynb**

# **Display messages**

In [ ]:
print('Welcome to Python Session')

Welcome to Python Session

**functions()** :- give messages in quotes -  single or double

**Keyboard shortcut to run the code -->**
*   Shift + Enter
*   ctrl = Enter

# **Display data and messages**

In [ ]:
print ('My Age is', 30)

My Age is 30

In [ ]:
# Variable
age =25
print('My Age is',age)

My Age is 25

# **Task :-**

1.   Try to print your age and your father age as well.
2.   Use single variable to display age, and the father age.
    e.g. father age = age + 30
3.   Sum of 2 numbers

In [ ]:
# Task 1

myAge = 30
fatherAge = 55
print('My age is',myAge,'and father age is',fatherAge)

My age is 30 and father age is 55

In [ ]:
# Task 2

sonAge = 25
print('The son age is', sonAge, 'and father age is',sonAge+30)

The son age is 25 and father age is 55

In [ ]:
# Task 3
num = 15
num += 30
print('Sum of the numbers are:',num)

Sum of the numbers are: 45

In [ ]:
# Task 3 with 2 variables

# Define variables a and b and assign them values

a = 10  # getting the data while complie the code
b = 20
sum = a+b
print ('The sum is:', sum )

The sum is: 30

# ** Run time execution **

In [ ]:
# prompt

city = input('Where are you from :')
print('I am from ',city)

Where are you from :Moscow
I am from  Moscow

# **Datatypes :-**

1.   Numeric --> integer - no decimal, float - decimals
2.   String
3.   boolean - True or False
4.   date

In [ ]:
age = input('What is your age? ')
print('My age is', age)

What is your age? 30
My age is 30

In [ ]:
# father's age

age = input('What is your age? ')
print('My age is', age, 'and father age is',int(age)+30)

What is your age? 30
My age is 30 and father age is 60

In [ ]:
## the same code with the different way

age = int(input('What is your age? '))
print('My age is', age, 'and father age is',age+30)

What is your age? 25
My age is 25 and father age is 55

# Concatenate String values

In [ ]:
first_Name =input('Enter your firstname ')
last_Name = input('Enter you lastname ')
print('My full name is',first_Name,last_Name)

Enter your firstname Sanket
Enter you lastname Shah
My full name is Sanket Shah

# Conditional Statements :-
if .. else

multiple if else

In [ ]:
# if .. else

age=int(input('What is your age '))
if age>=60 :
  print('You are exempt from paying for the medicine' )
else:
  print('You need to pay for the medicine unless if you have medical exemption proof')

What is your age 30
You need to pay for the medicine unless if you have medical exemption proof

In [ ]:
# multiple if ... else

age=int(input('What is your age '))
if age>=60 :
  print('Senior Citizen')
elif age<=12:
  print('You are kid')
elif age>12 and age<20:
  print('You are teenage')
else:
  print('You are Adults')

What is your age 60
Senior Citizen

# **# Task:-**

Calculate total salary by adding basic pay and ta.

Accept user input of float type

In [ ]:
basic_pay = float(input('Enter your Basic pay: '))
ta = float(input('Enter your Travel allowence: '))
total_salary = basic_pay + ta
print('Your total salary is:',total_salary)

Enter your Basic pay: 2553.25
Enter your Travel allowence: 512.36
Your total salary is: 3065.61

# **# Assignment :-**

1.   Marks and Display Grades

![image.png]()
      
2.   BMI Calculation

![image.png]()


![image.png]()

In [ ]:
# Assignment 1 - Marks and Display Grades

marks = int(input('Enter the marks'))
if marks>=95 and marks<=100 :
  print ('The grade points 10 and it is ' + 'Outstanding')
elif marks >=85 and marks <=94 :
  print('The grade points 9 and it is ' + 'Excellent')
elif marks >=75 and marks <=84 :
  print('The grade points 8 and it is ' + 'Very Good')
elif marks >64 and marks <75 :
  print('The grade points 7 and it is ' + 'Good')
elif marks >54 and marks <65 :
  print('The grade points 6 and it is ' + 'Above Average')
elif marks >50 and marks <55 :
  print('The grade points 5 and it is ' + 'Average')
elif marks == 50 :
  print('The grade points 4 and it is ' + 'Pass')
elif marks>=0 and marks<50 :
  print('The grade points 0 and it is ' + 'Fail')
else :
  print('Enter valid marks ...')

Enter the marks-1
Enter valid marks ...

In [ ]:
# Assignment - 2 BMI Calculation
Weight = float(input('Enter weight in kilogram '))
Height = float(input('Enter height in meters '))
BMI = Weight/(Height**2)
if BMI<= 18.4 :
  print('Your BMI is:',BMI, 'and you are Underweight')
elif BMI>18.4 and BMI<25 :
  print('Your BMI is:', BMI, 'and it is Normal')
elif BMI>=25 and BMI<40 :
  print('Your BMI is:', BMI, 'and you are Overweight')
elif BMI >=40 :
  print('Your BMI is:', BMI, 'and you are Obese')
# else :
#   print('Your BMI is:', BMI,'Enter valid Weight and Height')

Enter weight in kilogram -20
Enter height in meters -1
Your BMI is: -20.0 and you are Underweight

# **# Loops :-**

1.   for loop
2.   while loop

for the repeated tasks, we use loops

start, end, step (increment, decrement)

range()

start default 0

end value (- 1)

Note:- In python do ... while loop is not available.

In [ ]:
# for loop

for i in range (2,10,1): # Or you can write (2,10) --> The default step value is 1
  # starting 2, ending with 9, step value increase by 1
  # indents
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
# generate even numbers
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range (13,30,4):
 print(i)

13
17
21
25
29

## **Task :-**

1.   Print odd numbers from 50 to 70

In [ ]:
# Task 1 - print odd number from 50 to 70
for i in range(51,70,2):
  print(i)

51
53
55
57
59
61
63
65
67
69

In [ ]:
for b in range(10): # the default start value is considered as 0 and the default step value is 1
  print(b)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(50):
  print(x,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
# decrement
for x in range(100,70,-5):
  print(x,end=" ")

100 95 90 85 80 75

In [ ]:
for i in range(5): # Or for i in range(1,6):
  print(i+1,"Welcome") # print(i,"Welcome")

1 Welcome
2 Welcome
3 Welcome
4 Welcome
5 Welcome

In [ ]:
# Get the name of the 3 students
for i in range(3): # counts 0,1,2
  name=input("What is your name ...")
  print("Hello", name)

What is your name ...sam
Hello sam
What is your name ...Tan
Hello Tan
What is your name ...Can
Hello Can

# **else :-**
This is executed at last. Once iterations are over.

In [ ]:
# Input number of students register and
# Display their registration number by giving input as well.

print("=======================")
print("     ABC Unversity     ")
print("=======================")

n=int(input("Enter number of students you want to register today "))
registration_number = int(input('Enter registration number'))
print("\n")

for i in range(n):
  name=input("What is your name ...")
  print("Hello", name)
  print("Your registration number is",(registration_number +i))
  print("\n")
else :
  print("Sorry !!! Admission is full ...")

=======================
     ABC Unversity
=======================
Enter number of students you want to register today 2
Enter registration number5001


What is your name ...san
Hello san
Your registration number is 5001


What is your name ...mik
Hello mik
Your registration number is 5002


Sorry !!! Admission is full ...

# **While loop**
Initial or Start

End

Increment or decrement

In [ ]:
i =5
while i<=10 :
  print(i)
  i =i+1 # OR i+ = 1

5
6
7
8
9
10

In [ ]:
# Even number 30 to 50
i =30
while i<=50 :
  print(i,end=" ")
  i+=2

30 32 34 36 38 40 42 44 46 48 50

# While ... Loop Task :-

1.   Print the numbers only divided by 5, starting from 30 to 0
2.   Print user input even numbers in the while ... loop

In [ ]:
# Task 1

i = 30
while i>=0 :
  print(i,end=" ")
  i-=5

30 25 20 15 10 5 0

In [ ]:
# Task 2
n = int(input("Enter the last number: "))
i = 0
while(i<=n):
  print(i,end=" ")
  i+=2

Enter the last number: 8
0 2 4 6 8

# **Loop Assignment :-**

1.   Multiplication Table: get user input, e.g., 3 X 1 = 3
2.   Students Registration Program using the While ... Loop

In [ ]:
# Loop Assignment 1:-
# Multiplication Table: get user input, e.g., 3 X 1 = 3

number = int(input("Enter the number you for the multiplication table: "))
#mutiplication = 1
for i in range (1,11) :
  #multiplication = number * i
  print(number, ' X ', i, ' =',number*i)

Enter the number you for the multiplication table: 23
23  X  1  = 23
23  X  2  = 46
23  X  3  = 69
23  X  4  = 92
23  X  5  = 115
23  X  6  = 138
23  X  7  = 161
23  X  8  = 184
23  X  9  = 207
23  X  10  = 230

In [ ]:
# Loop Assignment 2:-
# Students Registration Program using the While ... Loop

print("=======================")
print("     ABC Unversity     ")
print("=======================")

n= int(input("Enter number of students you want to register today "))
registration_number= int(input("Enter registration number"))
print('\n')

i = 0
while i<n:
  name=input("What is your name ...")
  print("Hello", name)
  print("Your registration number is",(registration_number +i))
  print("\n")
  i+=1
else :
  print("Sorry !!! Admission is full ...")

=======================
     ABC Unversity
=======================
Enter number of students you want to register today 2
Enter registration number5000


What is your name ...a
Hello a
Your registration number is 5000


What is your name ...b
Hello b
Your registration number is 5001


Sorry !!! Admission is full ...

# **Strings :-**
Sequence of characters

Single quotes **OR** Double quotes **OR** Triple quotes

In [ ]:
# Single quote

print('hello')

hello

In [ ]:
# Double quote

print("Hello")

Hello

In [ ]:
# Triple quote. Mainly use for the address
# Multi line strings
# Single or Double quotes - give three times

print('''Ashley
London
United Kingdom''')

Ashley
London
United Kingdom

In [ ]:
# prompt: create string statement
string1 = 'This is a single quoted string.'
print(string1)

This is a single quoted string.

In [ ]:
# Type - Datatypes of variables
type(string1)

str

In [ ]:
sum =10
type(sum)

int

In [ ]:
sum = 10.34
type(sum)

float

# Index Concept in String:-
It is also know as subscript

number given to every character. It starts from 0 to n-1

Indexes represt by []

# Types of indexes:-

*   Positive index - begins with 0
*   negative index - which is last one is called -1

each character has positive and negative index as well.

In [ ]:
st = 'This is a single quoted string.'
st[5]

'i'

In [ ]:
st[-5]

'r'

# Immutable concept in String -
can not change the value

In [ ]:
# can not change the character - TypeError: 'str' object does not support item assignment

st[-5]='R'

TypeError: 'str' object does not support item assignment

In [ ]:
st = "This is a double quoted stRing."
print(st)

This is a double quoted stRing.

# Slicing in String

colon :

Positive or negative index

In [ ]:
# Positive index
st[2:4]

'is'

In [ ]:
st[10:16]

'double'

In [ ]:
# negative index print double
st[-21:-15]

'double'

In [ ]:
st[:4] # starts from 0 till end(3)

'This'

In [ ]:
st[:]

'This is a double quoted stRing.'

In [ ]:
st[::2]

'Ti sadul utdsRn.'

In [ ]:
st[-7:]

'stRing.'

In [ ]:
st[::-1] # Reverse print

'.gniRts detouq elbuod a si sihT'

# Built-in function in String - predefined with Python

print(), input(), range(), int(), float(), bool(), str(), type()

In [ ]:
st.upper()

'THIS IS A DOUBLE QUOTED STRING.'

In [ ]:
st.lower()

'this is a double quoted string.'

In [ ]:
st.capitalize()

'This is a double quoted string.'

In [ ]:
# count() - Count occurrences of a value
st1 ='this is a double quoted double string double.'
print(st1.count('double'))

3

In [ ]:
# center() - Center align the string
title = "Python"
print(title.center(20))
print(title.center(20, "-"))

       Python
-------Python-------

# **LIST :-**

*   Collection of items of various data types
*   Common name
*   Square brackets
*   Mutable - able to make change the list

In [ ]:
emp =['Bhanu','31',53000,1.8,True]
emp

['Bhanu', '31', 53000, 1.8, True]

In [ ]:
emp[0]

'Bhanu'

In [ ]:
emp[3]

1.8

In [ ]:
# mutable
emp[4]= 1.85
emp[4]

1.85

In [ ]:
# slicing
emp[0:3]

['Bhanu', '31', 53000]

# Built in functions in List

In [ ]:
# append() add the data at the end
emp.append('Pratap')
emp

['Bhanu', '31', 53000, 1.8, 1.85, 'Pratap']

In [ ]:
emp.remove('Bhanu') # Remove the data
emp

['31', 53000, 1.8, 1.85, 'Pratap']

In [ ]:
emp.pop(3) # 3rd index data gets removed

1.85

In [ ]:
emp

['31', 53000, 1.8, 'Pratap']

In [ ]:
emp[0]=29
emp

[29, 53000, 1.8, 'Pratap']

In [ ]:
emp.insert(3,1.9)
emp

[29, 53000, 1.8, 1.9, 'Pratap']

In [ ]:
type(emp)

list

In [ ]:
# create empty list
list()

[]

# **Assignment:-**
*   Create a list of 5 sportsperson - user input

In [ ]:
sportsPerson = list()

n=int(input("Enter how many sportspersons name you want to add it "))
#print("Enter the name of the sportsperson:\n")
for i in range(n):
  name =input('Enter the name of the sportsperon: ')
  sportsPerson.append(name)
print("\n List of Sportspersons:", sportsPerson)

Enter how many sportspersons name you want to add it 5
Enter the name of the sportsperon: a
Enter the name of the sportsperon: b
Enter the name of the sportsperon: c
Enter the name of the sportsperon: d
Enter the name of the sportsperon: e

 List of Sportspersons: ['a', 'b', 'c', 'd', 'e']

In [ ]:
# Create a list of user input even numbers

even_number = list()
count = int(input("How many numbers needed "))
while count>0:
    num = int(input("Enter number "))
    if num%2 == 0 :
      even_number.append(num)
    count-=1
print("\n")
print("List of the Even numbers are",even_number)

How many numbers needed 3
Enter number 14444
Enter number 36542
Enter number 101


Even number are [14444, 36542]

# **Tuple :-** ()
different types of the data

imutable - no changes

positive & negative indexes

built in

In [ ]:
# empty tuple
tuple()

()

In [ ]:
product=('Julian','Macbook',450,2)
product

('Julian', 'Macbook', 450, 2)

In [ ]:
type(product) # type of product is tuple

tuple

In [ ]:
product[0] # positive index

'Julian'

In [ ]:
product[-1] # negative index

2

In [ ]:
product[2]

450

In [ ]:
# inutable
product[2] =500 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
# built in functions
product.index(450)

2

In [ ]:
# slicing
product[1:]

('Macbook', 450, 2)

In [ ]:
product[:2] # 0, 1

('Julian', 'Macbook')

In [ ]:
# Change a tuple data to list
s=list(product)
type(s)

list

In [ ]:
s

['Julian', 'Macbook', 450, 2]

In [ ]:
s[2]=500
s

['Julian', 'Macbook', 500, 2]

In [ ]:
# convert list to tuple

updated_price=tuple(s)
updated_price

('Julian', 'Macbook', 500, 2)

nested if

if ... if ... if

nested loops

for ... for

for ... while

while ... while / for

Nested data

tuple ... tuple

list ... list

list ... tuple

tuple ... list

In [ ]:
# nested list

sw_books=['Java','Python','JS','LLM',[2020,2021,2022,2023]]
sw_books

['Java', 'Python', 'JS', 'LLM', [2020, 2021, 2022, 2023]]

In [ ]:
type(sw_books)

list

In [ ]:
sw_books[4]

[2020, 2021, 2022, 2023]

In [ ]:
sw_books[4][-1]

2023

In [ ]:
sw_books[4][:2]

[2020, 2021]

In [ ]:
sw_books=('Java', 'Python', 'JS', 'LLM', [2020, 2021, 2022, 2023])
sw_books

('Java', 'Python', 'JS', 'LLM', [2020, 2021, 2022, 2023])

In [ ]:
sw_books[1]

'Python'

In [ ]:
sw_books[-1][1]=2025
sw_books[-1]

[2020, 2025, 2022, 2023]

In [ ]:
sw_books[1][2]

't'

In [ ]:
sw_books[-1][2][0] # TypeError: 'int' object is not subscriptable

TypeError: 'int' object is not subscriptable

# **Set {}**

*   no order - does not maintain order
*   no index
*   no duplicates
*   List item

In [ ]:
flowers = {'Rose','Lotus',12,15,'Jasmine',12,'Rose'} # remove the duplicates, no order
flowers

{12, 15, 'Jasmine', 'Lotus', 'Rose'}

In [ ]:
fruits={'grapes','banana','Strawberry','Mango','Apple','Kiwi'}
fruits

{'Apple', 'Kiwi', 'Mango', 'Strawberry', 'banana', 'grapes'}

# **Dictionary :-**
{key : values}

index-key-numbers OR string

mutable

In [ ]:
mob={'Kiran': 7474747474,'Sasha' : 7912354874,'Hardy' : 7587858756}
mob

{'Kiran': 7474747474, 'Sasha': 7912354874, 'Hardy': 7587858756}

In [ ]:
type(mob)

dict

In [ ]:
# empty dictionary
dict()

{}

In [ ]:
mob['Sasha']

7912354874

In [ ]:
# mutability
mob['Hardy'] = 123456789
mob

{'Kiran': 7474747474, 'Sasha': 7912354874, 'Hardy': 123456789}

In [ ]:
# Arrange in ascending
sorted(mob)

['Hardy', 'Kiran', 'Sasha']

In [ ]:
# delete the data - can not be recover
del mob['Kiran']

In [ ]:
mob

{'Sasha': 7912354874, 'Hardy': 7587858756}

In [ ]:
mob[0] # delete the data - can not be recover

KeyError: 0

In [ ]:
# nested
products={
    'ID': [100,101,102],
    'Name': ['laptop','MacBook','iPhone'],
    'Price':[900,2500,600]
}
products

{'ID': [100, 101, 102],
 'Name': ['laptop', 'MacBook', 'iPhone'],
 'Price': [900, 2500, 600]}

dictionary name - prodcuts

key - ID/Name/Price

Values - Other data

In [ ]:
# access the data - key
products['Name']

['laptop', 'MacBook', 'iPhone']

In [ ]:
products['Name'][1]

'MacBook'

In [ ]:
products['Name'][1][1]

'a'

In [ ]:
# iterations
for x in products :
  print(x) # prints what are the keys have

ID
Name
Price

# OR

In [ ]:
for x in products.keys() :
  print(x)

ID
Name
Price

In [ ]:
# print the values
for x in products.values() :
  print(x)

[100, 101, 102]
['laptop', 'MacBook', 'iPhone']
[900, 2500, 600]

In [ ]:
# print key values
for a,b in products.items() :
  print(a,b)

ID [100, 101, 102]
Name ['laptop', 'MacBook', 'iPhone']
Price [900, 2500, 600]

# **Assignments :-**

1.   Create dictionary using 4 countries data
      country name, population, sqft, capital and display entire data.
2.   Find the total prices of all the products listed in the
      product dictionary
3.   Find the count of prodcuts in product dictionary.

In [ ]:
# Assignment - 1 --> Create a dictionary using 4 countries' data, country name, population, sqft, capital, and display the entire data.
# Get number of countries
n = int(input("Number of countries dictionary: "))
countries = {}

# Collect country data
for i in range(n):
    country = input("Country " +str(i+1) + ": " )
    area = input("Area of " +country + ": ")
    population = input("Population of " +country +": ")
    Capital_city = input("Capital of " +country + ": " )

    #country = input(f"Country {i+1}: ")
    #area = input(f"Area of: {country}: ")
    #population = input(f"Population of: {country}: ")
    #Capital_city = input(f"Capital of: {country}: ")

    countries[country] = {
        "Area": area,
        "Population": population,
        "Capital": Capital_city
    }

    # Display all country data
    print("\nCountry Data:")
    for a, b in countries.items():
        print(a,b)

Number of countries dictionary: 1
Country 1: uk
Area of uk: 66
Population of uk: 6
Capital of uk: lon

Country Data:
uk {'Area': '66', 'Population': '6', 'Capital': 'lon'}

In [ ]:
# Assignment - 2 & 3 -->Find the total prices of all the products listed in the product dictionary + Find the count of prodcuts in product dictionary.

# Prodcut Data
product ={
    'ID':[101,102,103],
    'Name':["iPhone","MacBook","TV"],
    'Price':[800,2500,1500]
}

# Calculate Total Price
total_price = sum(product['Price'])
print("Total price of all products:", total_price)

# Count Number of Products
num_products = len(product['Name'])
print("Total number of products:", num_products)

Total price of all products: 4800
Total number of products: 3